body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-sizing: content-box;
}

header {
  text-align: center;
}
.basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  cursor: pointer;
  background-color:darkcyan;
  border-radius: 10px;
  padding: 80px;
  font-size: 20px;
}
.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: bisque;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  /* transition-property: width, height; */
  /* transition-duration: 1s; */
  /* transition-timing-function: ease; */
  /* shorthand */
  /*transform: rotate | skew | translate | scale */
  transition: 1s;
}
.ball.a {
  left: 0;
  background-color: brown;
}
.ball.b {
  right: 0;
  background-color: cornflowerblue;
}
.basket__balls:hover .ball.a {
  background-color: purple;
  left: 50%;
  transform: rotate(45deg) skew(-10deg);
}
.basket__balls:hover .ball.b {
  background-color: yellowgreen;
  right: 50%;
  transform: rotate(-45deg) skew(10deg) scale(1.2);
}
.basket__balls:hover .ball {
  box-shadow: 2px 2px 15px black;
}

.rectangle {
  width: 100px;
  height: 100px;
  background-color: chocolate;
  box-shadow: 2px 2px 15px black;
  transition: 1s;
}

.basket__rectangles:hover .rectangle.X {
  background-color: purple;
  transform: rotateX(-45deg);
}
.basket__rectangles:hover .rectangle.Y {
  transform: rotateY(-45deg);
}

.basket__rectangles:hover .rectangle.Z {
  transform: rotateZ(45deg);
}

.basket__rectangles:hover .rectangle.XYZ {
  transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
}
/* No deformation using rotate3d */
.basket__rectangles:hover .rectangle.TD {
  transform: rotate3d(1,1,.45,60deg);
}

.basket__rectangles:hover .rectangle {
  background-color: purple;
  color: white;
}
.basket__origin:hover .rectangle {
  background: red;
  transform: rotateZ(-80deg);
}

.basket__origin:hover .origin-top {
  transform-origin: top;
}

.basket__origin:hover .origin-left {
  transform-origin: left;
}

.basket__origin:hover .origin-left {
  transform-origin: top left;
}

.basket__origin:hover .origin-offset {
  transform-origin: 120% 120%;
}

.basket__origin:hover .origin-negative {
  transform-origin: -10% -10%;
}

.wrapper {
  padding: 10px;
  border: 2px solid white;
}