
.basket {
  width: 80%;
}
.basket:hover .rectangle {
  transform: rotateZ(-80deg);
}

.basket:hover .origin-top {
  transform-origin: top;
}

.basket:hover .origin-left {
  transform-origin: left;
}

.basket:hover .origin-left {
  transform-origin: top left;
}

.basket:hover .origin-offset {
  transform-origin: 120% 120%;
}

.basket:hover .origin-negative {
  transform-origin: -10% -10%;
}